# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/cache/

# Model weights (too large)
*.pt

# Pickle and large video files (optional)
*.pkl
*.mp4
*.mov
*.avi
*.mkv
